# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
env/
venv/
.dotnet/

# Build / Distribution
build/
dist/
*.spec
native/**/bin/
native/**/obj/

# IDE
.vscode/*
!.vscode/settings.json
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Project specific
sample_data/
测试文件/
*.epub
*.zip
*.processed.epub
*.csv
/*.xml
